<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" id="WebApp_1446868466804">

	<display-name>Spring Image Database</display-name>

	<description>Spring Image Database sample application</description>


	<!--
		- Loads the root application context of this web app at startup, - by
		default from "/WEB-INF/applicationContext.xml". - - The root context
		is the parent of all servlet-specific contexts. - This means that its
		beans are automatically available in these child contexts, - both for
		getBean(name) calls and (external) bean references.
	-->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<listener>
		<listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>

	</listener>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

	<servlet id="Servlet_1446868602984">
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>
            org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>*.jpg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/getImagen</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/getImagen*</url-pattern>
	</servlet-mapping>


	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/index</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/agregarProducto</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/inventarioAdmin</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/porsurtir</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/Entransito</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/entregado</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/agregarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doAgregarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doAgregarProducto</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/checkout</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/setImagenCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="ServletMapping_1446868602837">
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/updateProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="ServletMapping_1446868602845">
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/deleteProduct</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="ServletMapping_1446868602853">
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/searchProductById</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="ServletMapping_1446868602859">
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/searchProductByName</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="ServletMapping_1446868602857">
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doIniciarSesion</url-pattern>
	</servlet-mapping>
	<servlet-mapping id="ServletMapping_1446868602847">
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doCerrarSesion</url-pattern>
	</servlet-mapping>
	<context-param id="ParamValue_1446868603052">
		<param-name>contextConfigLocation</param-name>
		<param-value>
	  	classpath:applicationContext.xml 	
	  	</param-value>
	</context-param>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/modificarCliente</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doAddToCart</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doCheckout</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/doFinalizarPedido</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/shop</url-pattern>
	</servlet-mapping>
	<servlet-mapping >
		<servlet-name>dispatcher</servlet-name>
		<url-pattern>/shopW</url-pattern>
	</servlet-mapping>
	<!-- Spring security configuration ends -->
	<!-- JSP Testing -->
	<!-- Ends Jsp Testing -->
</web-app>
