<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xmlns:aop="http://www.springframework.org/schema/aop"
	     xmlns:tx="http://www.springframework.org/schema/tx"
	     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.0.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.0.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.0.xsd">



	<!-- =====================  DEFINICIONES GENERALES  ======================== -->


	<!-- ==========================  DATASOURCE  ============================== -->

	<!-- SqlMap setup for iBATIS Database Layer -->
	<bean id="sqlMapClient" class="org.springframework.orm.ibatis.SqlMapClientFactoryBean">
		<property name="configLocation" value="classpath:com/proyectofinal/datos/maps/sql-map-config.xml"/>
		<property name="dataSource" ref="dataSource"/>
	</bean>


	<!-- ==========================  DEFINICION DE DAOS  ============================== -->
	
	<bean id="ClienteDaoBean" class="com.proyectofinal.datos.dao.impl.ClienteDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="ProductoDaoBean" class="com.proyectofinal.datos.dao.impl.ProductoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="CategoriaProductoDaoBean" class="com.proyectofinal.datos.dao.impl.CategoriaProductoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="EstadoPedidoDaoBean" class="com.proyectofinal.datos.dao.impl.EstadoPedidoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="EstadoProductoDaoBean" class="com.proyectofinal.datos.dao.impl.EstadoProductoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="TipoEntregaDaoBean" class="com.proyectofinal.datos.dao.impl.TipoEntregaDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="FacturaDaoBean" class="com.proyectofinal.datos.dao.impl.FacturaDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="PagoDaoBean" class="com.proyectofinal.datos.dao.impl.PagosDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="PedidoDaoBean" class="com.proyectofinal.datos.dao.impl.PedidoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="RolDaoBean" class="com.proyectofinal.datos.dao.impl.RolDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="InstanciaProductoDaoBean" class="com.proyectofinal.datos.dao.impl.InstanciaProductoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="EntregaDaoBean" class="com.proyectofinal.datos.dao.impl.EntregaDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<bean id="TipoPagoDaoBean" class="com.proyectofinal.datos.dao.impl.TipoPagoDAOImpl">
		<property name="sqlMapClient" ref="sqlMapClient"/>
	</bean>
	<!-- ==========================  DEFINICION DE BEANS  ============================== -->
		
  	<bean id="ServiceBean" class="com.proyectofinal.datos.service.impl.ServiceImpl">
  		<!--
  		<property name="dao_user" ref="UserDaoBean"/>
  		-->
   
  	</bean>
  	
</beans>